<%= nested_form_for [:admin, @event] do |f| %>

  <article class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </article>

  <div class="row">
    <div class="col-md-6">
      <article class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class: 'form-control' %>
      </article>
    </div>

    <div class="col-md-6">
      <article class="form-group">
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: 'form-control' %>
      </article>
    </div>
  </div>

  <article class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </article>

  <article class="form-group">
    <%= f.label :state, class: 'control-label' %>
    <%= f.select :state, options_for_select(Event.states.map {|k,v| [t(k),k]}), {}, {class: 'form-control'} %>
  </article>

  <article class="form-group">
    <%= submit_tag t(:submit), class: 'btn btn-primary' %>
  </article>

<% end %>
