<!DOCTYPE html>
<html lang="es">
  <head><%= render 'head' %></head>
  <body>
    <%= render 'navbar' %>
    <div id="main" class="container-fluid">
      <div class="row">
        <aside class="col-md-2">
          <%= render 'aside' %>
        </aside>
        <section class="col-md-10">
          <%= yield %>
        </section>
      </div>
    </div>
    <%= flash_messages if flash %>
  </body>
</html>