<h1><%= t :contact %></h1>

<section class="well">

  <dl>
    <dt><%= t :email %></dt>
    <dd><%= @contact.email %></dd>

    <dt><%= t :first_name %></dt>
    <dd><%= @contact.first_name %></dd>

    <dt><%= t :last_name %></dt>
    <dd><%= @contact.last_name %></dd>

    <dt><%= t :created_at %></dt>
    <dd><%= l @contact.created_at %></dd>
  </dl>

  <%= link_to t(:contact, scope: :edit), [:edit, :admin, @contact], class: 'btn btn-edit btn-primary' %>
  <%= link_to t(:back), [:admin, :contacts], class: 'btn btn-back btn-link' %>

</section>